<div class="card">
  <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="salvar()">
    <br>
    <div class="field grid">
      <label for="preco" class="col-fixed">Preço</label>
      <div class="col">
        <p-inputNumber mode="currency" currency="BRL" locale="pt-BR"
                       formControlName="preco"></p-inputNumber>
      </div>
    </div>

    <div class="field grid">
      <label for="quantidade" class="col-fixed">Quantidade</label>
      <div class="col">
        <p-inputNumber formControlName="quantidade"></p-inputNumber>
      </div>
    </div>

    <div class="field grid">
      <label for="dataOrdem" class="col-fixed">
          Data da ordem
      </label>
      <div class="col">
        <p-calendar formControlName="dataOrdem" dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>

    <div class="field grid">
      <label for="codAtivo" class="col-fixed">
        Ativo
      </label>
      <div class="col">
        <p-dropdown [options]="ativos" optionLabel="codigoAtivo" optionValue="codigoAtivo" name="codigoAtivo"
          formControlName="codigoAtivo" placeholder="Selecione">
          </p-dropdown>
      </div>
    </div>

    <div class="field">
      <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid" ></button>
    </div>
  </form>
  <p-toast></p-toast>
</div>
